<!DOCTYPE html> 
<html lang="pt"> 
<head>
    <meta charset="utf-8" />
    <title>Museu Virtual</title> 
    <link rel="stylesheet" href="./index.css"> 

</head>
<body>
    <h1>Rota Principal do Museu</h1>
</body> 
</html>